{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    

<div class="row">
    <div class="col-sm-6">
           <h3 class="card-title">Adicionar Usuários</h3>
      </div>
  </div>  
  <br> 
  <br>
<form method="post">
    {% csrf_token %}
    <div class="form-row">
         <div class="form-group col-md-6">
            {{ usuario.nome|as_crispy_field }}
        </div>    
        <div class="form-group col-md-3">
            {{ usuario.identidade|as_crispy_field }}
        </div>  

        <div class="form-group col-md-3">
            {{ usuario.telefone|as_crispy_field }}
        </div>  
      
    </div>  
    <div class="form-row">   
         <div class="form-group col-md-9">
            {{ usuario.observações|as_crispy_field }}
        </div> 
     </div>   
    <input type="submit" class="btn btn-success" value="Salvar">
</form>

</div>

{% endblock %}