{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
   <h3 style='color:orange' style="text-align:center;"><b>Congresso - Domingo - Informações Gerais</b></h3>

<br>
<br>
<div class="row">
<div class="col-sm-12"> 

         
            {% if gerais %}
                <a id="registro_b" href="/deletar_gerais_congresso_domingo" class="btn btn-danger">Limpar</a>
             {% else %}  
               <a id="registro_b" href="/add_gerais_congresso_domingo" class="btn btn-success">Inserir</a>
              {% endif %}  
              {% for a in gerais %} 
             <a id="registro_b"href="/editar_gerais_congresso_domingo/{{a.id}}" class="btn btn-warning">Editar</a>
              {% endfor %} 
              <a id="registro_b"href="/organizar_congresso_domingo/{{a.id}}" class="btn btn-primary">Organização do Arranjo</a>
 
               </div> 
             
         {% if messages %}
         <ul class="messages">
          {% for message in messages %}
            <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
           {%  endfor %} 
          </ul>
          {% endif %}

 </div>   
  <br> 
  <div class="row">
 <div class="col-md-6"> 
   <div class="card">
      <div class="card-body" >
    <table id='tabela_gerais_dom'>
      <tbody>
        <thead class="thead-light">
           <tr>
           <th>Congregação</th>
           {% for a in gerais %} 
           <td>{{ a.congregação|default_if_none:"&nbsp;" }}</td>
           {% endfor %} 
        </tr>  
           <th>Cidade</th>
           {% for a in gerais %} 
           <td>{{ a.cidade|default_if_none:"&nbsp;" }}</td>
           {% endfor %} 
        </tr>
           <tr>
           <th>Estado</th>
           {% for a in gerais %} 
           <td>{{ a.estado|default_if_none:"&nbsp;" }}</td>
           {% endfor %} 
        </tr>
        <tr>
         <th>Data do Evento</th>
         {% for a in gerais %} 
         <td>{{ a.data_do_evento|date:'d/m/Y' }}</td>
         {% endfor %} 
      </tr>
   </tbody>
</table>
   </div>
 </div>
</div>

<div class="col-sm-6">
 <div class="card">
   <div class="card-body" >
      <table id='tabela_gerais_dom'>
         <tbody>
           
           <tr>
           <th>Valor da Passagem</th>
           {% for a in gerais %} 
           <td>{{ a.valor_da_passagem|default_if_none:"&nbsp;" }}</td>
           {% endfor %} 
        </tr>
             <th>Coordenador</th>
            {% for a in gerais %} 
            <td>{{ a.coordenador|default_if_none:"&nbsp;"  }}</td>
            {% endfor %} 
         </tr>
         <tr>
            <th>Assistente</th>
            {% for a in gerais %} 
            <td>{{ a.assistente|default_if_none:"&nbsp;"  }}</td>
            {% endfor %} 
         </tr>
        </tr>
    </thead>
     </tbody>
   </table>
   
</div>  
</div> 
</div> 
</div> 


{% endblock %}
