{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
 <span id='span_h3'><h3>Editar Informações Gerais</h3></span>
  <br>
  <br>
    <form method="post">
        <input type="submit" class="btn btn-success" value="Salvar">
        <a href="/assembleia" class="btn btn-danger" role="button" aria-pressed="true">Voltar</a>
         <br>
        <br>
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                {{ form.congregação|as_crispy_field }}
            </div>    
            <div class="form-group col-md-3">
                {{ form.cidade|as_crispy_field }}
            </div>    
            <div class="form-group col-md-3">
                {{ form.estado|as_crispy_field }}
            </div>    
             <div class="form-group col-md-3">
                {{ form.data_do_evento|as_crispy_field }}
            </div>  
        </div>  
          <div class="form-row">   
            <div class="form-group col-md-3">
                {{ form.valor_da_passagem|as_crispy_field }}
            </div> 
 
            <div class="form-group col-md-3">
                {{ form.coordenador|as_crispy_field }}
            </div>   
            <div class="form-group col-md-3">
                {{ form.assistente|as_crispy_field }}
            </div>   
            
          
 </form>
 </div>
 
 {% endblock %}