{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Lista de Usuários</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Quantidade de Passagens: {{ quantidade }}</h3>
            </div>
        </div>
      </div>
    </div>   

   <br>
   
    
   <table class="table table-hover table-bordered table-secondary" id='tabela_lista'>
     <tbody>
        <thead class="thead-light">
         <tr>
           <th>Nome</th>
           <th>Identidade</th>
           <th>Telefone</th>
           <th>Observações</th>
           <th>Quitado?</th>
           <th>Editar</th>
           <th>Apagar</th>
           <th>Recibo</th>
         </thead>
           
          </tr>
          {% for a in lista %} 
         <tr>
           <td>{{ a.nome|default_if_none:"&nbsp;" }}</td>
           <td>{{ a.identidade|default_if_none:"&nbsp;" }}</td>
           <td>{{ a.telefone|default_if_none:"&nbsp;" }}</td>
           <td>{{ a.observações|default_if_none:"&nbsp;" }}</td>
           <td>{{ a.quitado|default_if_none:"&nbsp;" }}</td>
           <td><a href="/editar_lista/{{a.id}}"><i class="material-icons" data-md-tooltip="Editar">edit</i></a></td>
           <td><a href="/deletar_usuario/{{a.id}}"><i class="material-icons" style=color:crimson data-md-tooltip="Apagar">delete</i></a></td>
           <td><a href="/recibo/{{a.id}}"><i class="material-icons" style=color:blue data-md-tooltip="Recibo">note</i></a></td>
           
        </tr>
        {% endfor %} 
       </tbody>
     </table>

</div>


{% endblock %}