{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
<h3 style="text-align:center;">Organização do Ônibus</h3>
<br>

</div>
  <br> 
  <div class="row">
 <div class="col-md-4"> 
    <table class="table table-hover table-borderless " id='tabela_lista'>
        <tbody>
           <thead class="thead-light">
            <tr>
              <th>Usuário</th>
            </thead>
              </tr>
             {% for a in organizar %} 
             
            <tr>
               <td id={{ a.id|default_if_none:"&nbsp;" }} draggable='true' ondragstart='dragStart(event)'>{{ a.nome|default_if_none:"&nbsp;" }}</td>
            </tr>
           {% endfor %} 
          
          </tbody>
        </table>
   
</div>  
<div class="col-md-3"> 
  <table class="table table-hover table-borderless " id='tabela_lista'>
      <tbody>
         <thead class="thead-light">
          <tr>
             <th>Poltrona</th>
             <th>Ocupante</th>
          </thead>
          <td>01</td>
          <form method="post">
            <input type="submit" class="btn btn-success" value="Salvar">
             {% csrf_token %}
             <textarea  ondragover='overAction(event)' ondrop='dropAction(event)' name="poltrona1"></textarea>
        
             </form
        </tr>
          <tr>
          <td>02</td>
           <td ondragover='overAction(event)' ondrop='dropAction(event)'></td>
             </tr>
            <tr>
              <td>03</td>
            <td ondragover='overAction(event)' ondrop='dropAction(event)'></td>
            </tr>
        </tbody>
      </table>
 
</div>  
</div> 
</div> 

<script>
 function dragStart(event) {
  event.dataTransfer.setData('text/plain', event.target.id);
  console.log('event.target.id', event.target.id);
 
  event.dataTransfer.effectAllowed = 'copy';
}
 
 function overAction(event) {
  event.preventDefault();

  event.dataTransfer.dropEffect = 'copy';
 }

 function dropAction(event) {
  event.preventDefault();

  const dados = event.dataTransfer.getData('text/plain');
  console.log('Dados => ', event.target);
  const elemento = document.getElementById(dados);

  try {
    event.target.appendChild(elemento);
  } catch(error) {
    console.error('não rolou');
  }
  event.stopPropagation();
  }


</script>

{% endblock %}