{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<br>
<div class="row">
    <div class="col-sm-12"> 
      <div class="card">
             <div class="card-body"> 
       
        <br>
        <form method="post">
            {% csrf_token %}
            <a href="{% static 'recibo_pronto.pdf' %}"class="btn btn-success" download="Recibo">Download do Recibo</a>
            <a href="/lista_usuario" class="btn btn-danger" role="button" aria-pressed="true">Voltar</a>
        </form>      
           
        
    </div>
</div>
</div>
</div>


</html>

{% endblock %}