{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<br>
<div class="row">
    <div class="col-sm-12"> 
      <div class="card">
             <div class="card-body"> 
       
        <br>
        <form method="post">
            {% csrf_token %}
            
            <a href="/lista_usuario" class="btn btn-danger" role="button" aria-pressed="true">Voltar</a>
        </form>      
           
        <div style="height:900px ; width: 100%;">
            <embed src="{% static 'recibo_pronto.pdf' %}" type="application/pdf" width="100%" height="100%">
        </div>
    </div>
</div>
</div>
</div>


</html>

{% endblock %}