{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% load static %}
<br>
<div class="row">
    <div class="col-sm-12"> 
      <div class="card">
             <div class="card-body"> 
       
        <br>
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-success" value="Enviar por Whatsapp" src="{% static 'img/wapp.jpg' %}" style="height:40px;" >
            <a href="/lista_usuario" class="btn btn-danger" role="button" aria-pressed="true">Voltar</a>
        </form>      
           
                <div style="height:900px ; width: 100%;">
                    <embed src="{% static 'recibo.png' %}" width="55%" height="60%">
                </div>
    </div>
</div>
</div>
</div>


</html>

{% endblock %}