@import url('https://fonts.googleapis.com/css2?family=Alata&family=BIZ+UDPGothic:wght@700&family=DM+Serif+Display&family=Dancing+Script&family=Fira+Sans:wght@100&family=Gothic+A1:wght@100;200&family=Karla:wght@200&family=Libre+Baskerville&family=Paytone+One&family=Questrial&family=Staatliches&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=BIZ+UDPGothic:wght@700&family=DM+Serif+Display&family=Dancing+Script&family=Fira+Sans:wght@100&family=Gothic+A1:wght@100;200&family=Karla:wght@200&family=Libre+Baskerville&family=Numans&family=Paytone+One&family=Questrial&family=Staatliches&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=BIZ+UDPGothic:wght@700&family=DM+Serif+Display&family=Dancing+Script&family=Fira+Sans:wght@100&family=Gothic+A1:wght@100;200&family=Karla:wght@200&family=Libre+Baskerville&family=Numans&family=Paytone+One&family=Questrial&family=Staatliches&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



.navbar .navbar-nav .nav-link { color:hwb(30 0% 95%); font-size:25px; font-weight: bold; text-align: center; font-family: 'Roboto Condensed', sans-serif;}
.navbar .navbar-nav .nav-link:hover { background-color:lightgrey; color:  hsl(45, 100%, 2%);font-family: 'Roboto Condensed', sans-serif; } 


.navbar-toggler-icon{
  background-color:darkgrey;
 
 }

#nav_base {
    background-color: lightgrey;
    border-radius: 20px;
   
}

#nav_base span{
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  color: red;
  margin: auto;
  margin-left: 3%;

}

#tabela_lista_ass {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color:beige;
  
}

#tabela_lista_ass th {

  vertical-align: middle;
  background-color:lightsalmon;
}

#tabela_lista_user th {

  vertical-align: middle;
  background-color:lightgray;
}

#tabela_lista_user {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color:lightgray;
  
}


#tabela_lista_sex {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color:lightgreen
  
}

#tabela_lista_sex th {

  vertical-align: middle;
  background-color:lightgreen
}

#tabela_lista_sab {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color:lightblue;
  
}

#tabela_lista_sab th {

  vertical-align: middle;
  background-color:lightblue;
}


#tabela_lista_dom {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
  background-color:moccasin;
  
}

#tabela_lista_dom th {

  vertical-align: middle;
  background-color:moccasin;
}


[data-md-tooltip] {
  position: relative;
  color: green;
  margin-left: 5px;
}

[data-md-tooltip]:before {
    content: attr(data-md-tooltip);
    position: absolute;
    bottom: -35px;
    left: 50%;
    padding: 8px;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: top;
    background:green;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    font-family: Roboto,sans-serif;
    font-weight: 400;
}
[data-md-tooltip]:hover:before {
  transform: translateX(-50%) scale(1); 
}

h3, h4 {
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

h4 {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

form {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

#tabela_gerais {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  
}

#tabela_gerais_ass th {
  line-height: 30px;
  text-align: center;
  width: 300px;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
 }

#tabela_gerais_ass td {
  line-height: 30px;
  text-align: center;
  background-color: lightsalmon;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 23px;
  width: 300px;
 }

 #tabela_gerais_sex th {
  line-height: 30px;
  text-align: center;
  width: 300px;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
 }

#tabela_gerais_sex td {
  line-height: 30px;
  text-align: center;
  background-color: lightgreen;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 23px;
  width: 300px;
 }

 
 #tabela_gerais_sab th {
  line-height: 30px;
  text-align: center;
  width: 300px;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
 }

#tabela_gerais_sab td {
  line-height: 30px;
  text-align: center;
  background-color: lightblue;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 23px;
  width: 300px;
 }

 
 #tabela_gerais_dom th {
  line-height: 30px;
  text-align: center;
  width: 300px;
  font-size: 23px;
  font-family: 'Roboto Condensed', sans-serif;
 }

#tabela_gerais_dom td {
  line-height: 30px;
  text-align: center;
  background-color:moccasin;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 23px;
  width: 300px;
 }

 #modules {
  padding: 20px;
  background: #eee;
  margin-bottom: 20px;
  z-index: 1;
  border-radius: 10px;
}

#dropzone {
  padding: 20px;
  background: #eee;
  min-height: 100px;
  margin-bottom: 20px;
  z-index: 0;
  border-radius: 10px;
}

.active {
  outline: 1px solid red;
}

.hover {
  outline: 1px solid blue;
}

.drop-item {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  position: relative;
}

.drop-item .remove {
  position: absolute;
  top: 4px;
  right: 4px;
}

#sumir {
  display: none;
}

#card_user  {

  border-radius: 30px;
  height: 200px;
  padding: 20px;
  border: none;
  text-align: center;
  border-bottom:3px solid black;
  
}

#card_user  a {
  font-size: 23px;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  
  font-weight: bold;
 }

 #card_user  h3, h5 {
  font-weight: bold;
  color: gray;
 } 

#card_user  a:hover{
  color:gray;
   
}

#card_ass  {

  border-radius: 30px;
  height: 200px;
  padding: 20px;
  border: none;
  text-align: center;
  border-bottom:3px solid red;
  
  
}

#card_ass a {
  font-size: 23px;
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
 }

 #card_ass h3, h5 {
  font-weight: bold;
  color: hsl(256, 100%, 50%);
 } 

#card_ass  a:hover{
  color:gray;
   
}

#card_sexta {

  border-radius: 30px;
  height: 200px;
  padding: 20px;
  border: none;
  text-align: center;
  border-bottom:3px solid green
  
  
}

#card_sexta  a {
  font-size: 23px;
  color: green;
  font-family: 'Roboto Condensed', sans-serif;
 
  font-weight: bold;
 }

 #card_sexta  h3, h5 {
  font-weight: bold;
  color: hsl(256, 100%, 50%);
 } 

#card_sexta  a:hover{
  color:gray;
   
}


#card_sabado {

  border-radius: 30px;
  height: 200px;
  padding: 20px;
  border: none;
  text-align: center;
  border-bottom:3px solid blue;
 
}

#card_sabado  a {
  font-size: 23px;
  color: blue;
  font-family: 'Roboto Condensed', sans-serif;
 
  font-weight: bold;
 }

 #card_sabado  h3, h5 {
  font-weight: bold;
  color: hsl(256, 100%, 50%);
 } 

#card_sabado  a:hover{
  color:gray;
   
}


#card_domingo {

  border-radius: 30px;
  height: 200px;
  padding: 20px;
  border: none;
  text-align: center;
  border-bottom:3px solid orange;
 
}

#card_domingo  a {
  font-size: 23px;
  color: orange;
  font-family: 'Roboto Condensed', sans-serif;
 
  font-weight: bold;
 }

 #card_domingo  h3, h5 {
  font-weight: bold;
  color: hsl(256, 100%, 50%);
 } 

#card_domingo  a:hover{
  color:gray;
   
}




